<!-- Section Intro -->
<section id="intro" class="container-fluid bg-lightcolor2 nobg-small">
  <div class="col-md-12 text-center">
    <div class="col-md-6 col-md-offset-5 col-lg-7 col-lg-offset-4">
      <h1>Welcome</h1>
      <p>orem av ipsum dolor sit amet, dorem ipsuem ore consectetur adipisicing elit. Lorem isuem amorem
        semprem Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et em
        explicab
        Cras purus odio, vestibulum in vulputate a Imperdiet interdum donec eget metus auguen unc vel
        lorem.
      </p>
      <!-- button -->
      <a class="btn btn-primary" href="contact.html">Contact us</a>
    </div>
    <!-- /col-md-6 -->
  </div>
  <!-- /col-md-12 -->
</section>
<!-- /section -->
<!-- Section Services -->
<section id="services" class="container-fluid">
  <!-- Section heading -->
  <div class="section-heading">
    <h2>Our Services</h2>
    <!-- divider -->
    <div class="hr"></div>
  </div>
  <!-- Services Boxes -->
  <div id="services-slider" class="owl-carousel">
    <!-- service box -->
    <div class="serviceBox">
      <!-- service image-->
      <a href="services-single.html">
        <img src="img/service1.jpg" class="img-responsive" alt="" />
        <!-- service content -->
        <div class="service-content">
          <h3 class="title">Hairstyles</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate delectus
            deserunt dolores eum ipsa molestiae officiis quasi ratione voluptatum.
          </p>
        </div>
      </a>
      <!-- background icon -->
      <i class="flaticon-woman-with-long-hair icon-bg"></i>
    </div>
    <!-- /col-md-6 col-lg-3 -->
    <!-- service box -->
    <div class="serviceBox">
      <!-- service image-->
      <a href="services-single.html">
        <img src="img/service2.jpg" class="img-responsive" alt="" />
        <!-- service content -->
        <div class="service-content">
          <h3 class="title">Nail Care</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate delectus
            deserunt dolores eum ipsa molestiae officiis quasi ratione voluptatum.
          </p>
        </div>
      </a>
      <!-- background icon -->
      <i class="flaticon-two-nail-polish icon-bg"></i>
    </div>
    <!-- /service box -->
    <!-- /col-md-6 col-lg-3 -->
    <!-- service box -->
    <div class="serviceBox">
      <!-- service image-->
      <a href="services-single.html">
        <img src="img/service3.jpg" class="img-responsive" alt="" />
        <!-- service content -->
        <div class="service-content">
          <h3 class="title">Wellbeing</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate delectus
            deserunt dolores eum ipsa molestiae officiis quasi ratione voluptatum.
          </p>
        </div>
      </a>
      <!-- background icon -->
      <i class="flaticon-stones icon-bg"></i>
    </div>
    <!-- /service box -->
    <!-- service box -->
    <div class="serviceBox">
      <!-- service image-->
      <a href="services-single.html">
        <img src="img/service4.jpg" class="img-responsive" alt="" />
        <!-- service content -->
        <div class="service-content">
          <h3 class="title">Skin Care</h3>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate delectus
            deserunt dolores eum ipsa molestiae officiis quasi ratione voluptatum.
          </p>
        </div>
      </a>
      <!-- background icon -->
      <i class="flaticon-herbal-cream icon-bg"></i>
    </div>
    <!-- /service box -->
  </div>
  <!-- /services-slider -->
</section>
<!-- /section  -->
<!-- Section Call to Action -->
<section id="call-to-action" class="container-fluid small-section">
  <div class="text-center col-md-12">
    <div class="well col-lg-6 col-lg-offset-5 col-sm-8 col-sm-offset-2">
      <!-- Section text -->
      <h3>Discover our Salon</h3>
      <p>Lorem av ipsum dolor sit amet, dorem ipsuem ore consectetur adipisicing elit. Lorem isuem amorem
        semprem Ratione, voluptatem, dolorem animi nisi autem blanditiis enim culpa reiciendis et em
        explicabo tenetur lore apsuet!</p>
      <!-- Buttons -->
      <a class="btn btn-primary" href="contact.html">Contact us</a>
      <a class="btn btn-primary" href="about.html">About us</a>
    </div>
    <!-- /well -->
  </div>
  <!-- /text-center-->
</section>
<!-- /section -->
<!-- Section Testimonials -->
<section id="testimonials" class="bg-lightcolor2 container-fluid small-section nobg-small">
  <div class="col-md-8">
    <!-- Section heading -->
    <div class="section-heading">
      <h2>What our Clients say</h2>
      <!-- divider -->
      <div class="hr"></div>
    </div>
    <!-- Testimonial Slider -->
    <div id="testimonial-slider" class="owl-carousel">
      <!-- Testimonial 1 -->
      <div class="testimonial">
        <div class="description">
          <p>
            Nam enim neque, mattis ut fermentum vitae, venenatis id tortor. Sed consectetur tortor ut
            arcu pharetra faucibus. In tristique sollicitudin mi ac congue. Praesent efficitur feugiat
            nisl, nec facilisis leo sollicitudin sed. Integer egestas porttitor massa, ut dapibus sapien
            feugiat eget. Nam.
          </p>
        </div>
        <div class="testimonial-review">
          <!-- Testimonial image -->
          <img src="img/testimonial1.jpg" class="img-inline" alt="" />
          <!-- Testimonial title-->
          <h3 class="testimonial-title">
            Mary Smith
            <small>Model</small>
          </h3>
        </div>
      </div>
      <!-- /Testimonial 1 -->
      <!-- Testimonial 2 -->
      <div class="testimonial">
        <div class="description">
          <p>
            Nam enim neque, mattis ut fermentum vitae, venenatis id tortor. Sed consectetur tortor ut
            arcu pharetra faucibus. In tristique sollicitudin mi ac congue. Praesent efficitur feugiat
            nisl, nec facilisis leo sollicitudin sed. Integer egestas porttitor massa, ut dapibus sapien
            feugiat eget. Nam.
          </p>
        </div>
        <div class="testimonial-review">
          <!-- Testimonial image -->
          <img src="img/testimonial2.jpg" class="img-inline" alt="" />
          <!-- Testimonial title -->
          <h3 class="testimonial-title">
            Lauren Silva
            <small>Actress</small>
          </h3>
        </div>
      </div>
      <!-- /Testimonial 2 -->
      <!-- Testimonial 3 -->
      <div class="testimonial">
        <div class="description">
          <p>
            Nam enim neque, mattis ut fermentum vitae, venenatis id tortor. Sed consectetur tortor ut
            arcu pharetra faucibus. In tristique sollicitudin mi ac congue. Praesent efficitur feugiat
            nisl, nec facilisis leo sollicitudin sed. Integer egestas porttitor massa, ut dapibus sapien
            feugiat eget. Nam.
          </p>
        </div>
        <div class="testimonial-review">
          <!-- Testimonial image -->
          <img src="img/testimonial3.jpg" class="img-inline" alt="" />
          <!-- Testimonial title -->
          <h3 class="testimonial-title">
            Minka Kelly
            <small>Personal Trainer</small>
          </h3>
        </div>
      </div>
      <!-- /Testimonial 3 -->
    </div>
    <!--/Testimonial Slider -->
  </div>
  <!-- /col-md-8 -->
</section>
<!-- /section -->
<!-- Section Blog Preview -->
<section id="blog-preview" class="container-fluid">
  <!-- Section heading -->
  <div class="section-heading">
    <h2>Latest Blog Posts</h2>
    <!-- divider -->
    <div class="hr"></div>
  </div>
  <!-- Blog Slider -->
  <div id="blog-slider" class="owl-carousel">
    <!-- Blog Post Prev 1 -->
    <div class="col-md-12">
      <div class="blog-prev">
        <!-- Blog Post Image  -->
        <img src="img/blogprev1.jpg" alt="" />
        <!-- Blog Post date -->
        <div class="date"><span class="day">22</span><span class="month">Jul</span></div>
        <!-- Blog Caption -->
        <div class="blog-caption">
          <h4>Beauty Tips for your Nails</h4>
          <p class="hidden-xs">Sed consectetur tortor ut arcu pharetra faucibus. In tristique sollicitudin
            mi ac congue... </p>
        </div>
        <div class="hover"></div>
        <a href="blog-single.html"></a>
      </div>
      <!-- /Blog Post Prev -->
    </div>
    <!-- /col-md -->
    <!-- Blog Post Prev 2 -->
    <div class="col-md-12">
      <div class="blog-prev">
        <!-- Blog Post Image  -->
        <img src="img/blogprev2.jpg" alt="" />
        <!-- Blog Post date -->
        <div class="date"><span class="day">18</span><span class="month">Jul</span></div>
        <!-- Blog Caption -->
        <div class="blog-caption">
          <h4>Our Best Hair Products</h4>
          <p class="hidden-xs">Sed consectetur tortor ut arcu pharetra faucibus. In tristique sollicitudin
            mi ac congue... </p>
        </div>
        <div class="hover"></div>
        <a href="blog-single.html"></a>
      </div>
      <!-- /Blog Post Prev -->
    </div>
    <!-- /col-md -->
    <!-- Blog Post Prev 3 -->
    <div class="col-md-12">
      <div class="blog-prev">
        <!-- Blog Post Image  -->
        <img src="img/blogprev3.jpg" alt="" />
        <!-- Blog Post date -->
        <div class="date"><span class="day">04</span><span class="month">Jul</span></div>
        <!-- Blog Caption -->
        <div class="blog-caption">
          <h4>Our Amazing Weekly Offers</h4>
          <p class="hidden-xs">Sed consectetur tortor ut arcu pharetra faucibus. In tristique sollicitudin
            mi ac congue... </p>
        </div>
        <div class="hover"></div>
        <a href="blog-single.html"></a>
      </div>
      <!-- /Blog Post Prev -->
    </div>
    <!-- /col-md-12 -->
    <!-- Blog Post Prev 4 -->
    <div class="col-md-12">
      <div class="blog-prev">
        <!-- Blog Post Image  -->
        <img src="img/blogprev4.jpg" alt="" />
        <!-- Blog Post date -->
        <div class="date"><span class="day">24</span><span class="month">Jun</span></div>
        <!-- Blog Caption -->
        <div class="blog-caption">
          <h4>Secrets for a stronger Hair</h4>
          <p class="hidden-xs">Sed consectetur tortor ut arcu pharetra faucibus. In tristique sollicitudin
            mi ac congue... </p>
        </div>
        <div class="hover"></div>
        <a href="blog-single.html"></a>
      </div>
      <!-- /Blog Post Prev -->
    </div>
    <!-- /col-md-12 -->
  </div>
  <!-- /blog-slider -->
</section>
<!-- /section -->
<!-- Section Brands -->
<section id="brands" class=" bg-lightcolor1 container-fluid small-section">
  <div class="text-center">
    <!-- Section Heading -->
    <div class="section-heading">
      <h2>Brands we Work with</h2>
      <!-- divider -->
      <div class="hr"></div>
    </div>
    <!-- Brand 1 -->
    <div class="col-sm-6 col-md-3 img-effect">
      <div class="brand well well-sm">
        <a href="#"><img src="img/brand1.png" alt="" class="col-centered img-responsive" /></a>
      </div>
    </div>
    <!-- Brand 2 -->
    <div class="col-sm-6 col-md-3 img-effect ">
      <div class="brand well well-sm">
        <a href="#"><img src="img/brand2.png" alt="" class="col-centered img-responsive" /></a>
      </div>
    </div>
    <!-- Brand 3 -->
    <div class="col-sm-6 col-md-3 img-effect">
      <div class="brand well well-sm">
        <a href="#"><img src="img/brand3.png" alt="" class="col-centered img-responsive" /></a>
      </div>
    </div>
    <!-- Brand 4 -->
    <div class="col-sm-6 col-md-3 img-effect">
      <div class="brand well well-sm">
        <a href="#"><img src="img/brand4.png" alt="" class="col-centered img-responsive" /></a>
      </div>
    </div>
  </div>
  <!-- /text-center -->
</section>
<!-- /section-->
<!-- Section Offers -->
<section id="offers" class="container-fluid nobg-small">
  <!-- Section Heading -->
  <div class="section-heading">
    <h2>This Month's Offers</h2>
    <!-- divider -->
    <div class="hr"></div>
  </div>
  <!-- Offers Carousel -->
  <div id="offers-slider">
    <!-- Offer 1 -->
    <div class="offer-item">
      <div class="col-md-2 col-md-offset-3">
        <!-- Offer image -->
        <img src="img/offer1.jpg" class="img-inline img-responsive" alt="">
      </div>
      <div class="col-md-4 res-margin">
        <div class="media-body">
          <h4>Haircuts : 10% Off</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet
            vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae.
          </p>
        </div>
      </div>
    </div>
    <!-- Offer 2 -->
    <div class="offer-item">
      <div class="col-md-2 col-md-offset-3">
        <!-- Offer image -->
        <img src="img/offer2.jpg" class="img-inline img-responsive" alt="">
      </div>
      <div class="col-md-4 res-margin">
        <div class="media-body">
          <h4>Manicure: 40% Off on Mondays</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet
            vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae.
          </p>
        </div>
      </div>
    </div>
    <!-- Offer 3 -->
    <div class="offer-item">
      <div class="col-md-2 col-md-offset-3">
        <!-- Offer image -->
        <img src="img/offer3.jpg" class="img-inline img-responsive" alt="">
      </div>
      <div class="col-md-4 res-margin">
        <div class="media-body">
          <h4>Skin Therapy : 20% Off</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet
            vulputate.
            Quisque mauris augue, molestie tincidunt condimentum vitae.
          </p>
        </div>
      </div>
    </div>
  </div>
  <!--/owl-offers-->
</section>
<!-- /section -->
