<!-- Navbar starts-->
<nav id="nav">
  <div class="navbar navbar-custom  navbar-static text-center">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display  -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
          <i class="fa fa-bars"></i>
        </button>
        <div class="navbar-brand hidden-md hidden-lg">
          <a href="index-2.html">
            <!-- logo  -->
            <img src="assets/img/logo_light.png" alt="" class="img-responsive">
          </a>
        </div>
        <!--/navbar-brand -->
      </div>
      <!--/navbar-header -->
      <!-- Collect the nav links, forms, and other content for toggling  -->
      <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a href="index-2.html">Home</a></li>
          <li><a href="about">About us</a></li>
          <li><a href="services.html">Our Services</a></li>
          <li><a href="team.html">Our team</a></li>
          <li><a href="prices.html">Prices</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Gallery<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="gallery.html">Gallery 1</a></li>
              <li><a href="gallery2.html">Gallery 2</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pages<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="blog.html">Blog Home</a></li>
              <li><a href="blog-single.html">Blog Post</a></li>
              <li><a href="services-single.html">Services Single</a></li>
              <li><a href="team-single.html">Team Member</a></li>
              <li class="divider"></li>
              <li><a href="elements.html">Elements</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.navbar -->
</nav>
