/*
Template Name: Linda
Author: Ingrid Kuhn
Author URI: themeforest/user/ingridk
Version: 1.0
Last change:29th june 2017

	Table of Contents

	#General and Typography
	#Preloader
	#Navigation
	#Logo
	#Header Slideshow
	#Index page
	#About Page
	#Services single page
	#Team page
	#Prices page
	#Team page
	#Gallery pages
	#Contact page
	#Blog pages
	#Footer and Credits
	#Miscellaneous
	#Media queries

===========================
  General and Typography
============================ */

body {
    width: 100%;
    height: 100%;
    background-color: #fff;
    font-weight: 400;
    color: #696767;
    overflow-x: hidden!important;
    -webkit-font-smoothing: antialiased;
    font-family: 'Open Sans', serif;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
p,
ul {
    color: #8a8989;
    font-size: 15px;
    line-height: 2;
}
/* Headings */

h1 {
    font-size: 58px;
    color: #333;
    margin: 0;
    font-weight: 700;
    letter-spacing: -0.1px;
    line-height: 70px;
    margin-bottom: 10px;
    font-family: 'Lora', serif;
}
h2 {
    font-size: 48px;
    font-family: 'Lora', serif;
    margin-top: 0px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #5b5a5a;
    letter-spacing: -0.3px;
}
h3 {
    font-family: 'Open sans', sans-serif;
    font-size: 38px;
    margin-top: 0px;
    letter-spacing: -0.8px;
    font-weight: 400;
    margin-bottom: 30px;
    color: #5b5a5a;
}
h4 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
}
h5 {
    font-size: 24px;
    margin: 0;
    color: #333;
    font-family: 'Lora', serif;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
}
h6 {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    letter-spacing: 01px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}
.italic {
    font-style: italic;
}
.bg-color1 p,
.bg-color1 h1,
.bg-color1 h2,
.bg-color1 h3,
.bg-color1 h4,
.bg-color1 h5,
.bg-color1 h6,
.bg-color2 p,
.bg-color2 h1,
.bg-color2 h2,
.bg-color2 h3,
.bg-color2 h4,
.bg-color2 h5,
.bg-color2 h6 {
    color: #fff;
}
/* Links */

a {
    transition: color .2s ease-in-out;
}
a:hover,
a:focus {
    text-decoration: none;
}
/* Others */

.text-light,
.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6,
.text-light p {
    color: #fff !important;
}
i {
    transition: all .2s ease-in-out;
}
img {
    transition: all .2s ease-in-out;
}
.small-heading {
    font-size: 1.100em;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding-bottom: 15px;
}
/*===========================
  Preloader
============================ */

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
.spinner {
    position: relative;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 46%;
    animation: rotate 2.0s infinite linear;
}
.spinner > div {
    width: 18px;
    height: 18px;
    border-radius: 100%;
    display: inline-block;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    
    animation-fill-mode: both;
}
.spinner .bounce1 {
    animation-delay: -0.32s;
}
.spinner .bounce2 {
    animation-delay: -0.16s;
}
@keyframes bouncedelay {
    0%, 80%, 100% {
        transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
    }
}
/*===========================
  Navigation
============================ */
/* Responsive navbar  */

.navbar-toggle:focus,
.navbar-toggle:active {
    outline: 0;
}
.navbar-toggle {
    font-size: 35px;
    color: #fff;
    transition: all .2s ease-in-out;
    float: right;
    border-radius: 0px;
    line-height: 35px;
    background: rgba(250, 250, 250, 0.68);
}
.navbar-toggle i:focus,
.navbar-toggle i:active,
.navbar-toggle i:hover {
    color: #fff;
}
.navbar {
    min-height: 80px;
    border-radius: 0px;
}
nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}
/* stroke */

.navbar-custom ul li a,
nav.fill ul li a {
    position: relative;
}
.navbar-custom ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    height: 4px;
}
.navbar-custom ul li a:hover:after {
    width: 100%;
}
.navbar-custom .navbar-nav>li>a {
    font-size: 14px;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 0.4px;
    padding: 15px 20px;
    color: #fff;
}
.navbar-custom ul.nav li a:hover,
.navbar-custom .nav > .active > a {
    background: transparent;
}
.navbar-custom ul.nav li a {
    display: inline-block;
}
.navbar ul.dropdown-menu>li>a {
    display: block;
    font-family: Open Sans;
    font-weight: 700;
    letter-spacing: 0.4px;
    padding: 13px 10px;
    clear: both;
    font-size: 14px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    border-radius: 0px;
    transition: all .2s ease-in-out;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    line-height: 80px;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
ul.nav.navbar-nav> li.dropdown.open > ul > li:after {
    display: none;
}
.navbar-custom li:last-child:after {
    display: none;
}
.navbar {
    box-shadow: 2px 7px 22px -4px rgba(0, 0, 0, 0.17);
    margin-bottom: 0px;
    border: 0px;
}
.nav .open>a,
.nav>li>a:focus,
.nav .open>a:focus,
.nav .open>a:hover {
    background: transparent;
}
#nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 990;
    animation: .45s menuIn ease;
    /* linear */
}
@keyframes menuIn {
    0% {
        top: -150px
    }
    100% {
        top: 0px
    }
}
/*===========================
  Logo
============================ */

header {
    padding: 30px;
}
.masthead {
    height: 400px;
}
.top-container {
    margin-top: 50px;
}
.navbar-brand,
.main-logo {
    position: absolute;
}
header .smaller.social-media i {
    color: #fff!important;
}
.navbar-brand img {
    left: 0;
    margin-top: 20px;
    max-width: 190px;
    right: 0;
    margin: 0 auto;
}
/*===========================
  Header Slideshow
============================ */

.slideshow {
    position: fixed;
    width: 100%;
    height: 400px;
    z-index: 0;
    overflow: hidden;
}
.slideshow-image {
    box-shadow: inset 0 0 0 1000px rgba(34, 34, 34, 0.4);
    position: absolute;
    width: 100%;
    height: 100%;
    background: no-repeat 50% 50%;
    background-size: cover;
    animation-name: kenburns;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 26s;
    opacity: 1;
    transform: scale(1.2);
}
/* Ken Burns animation */

.slideshow-image:nth-child(1) {
    background-image: url('../img/slide1.jpg');
    animation-name: kenburns-1;
    z-index: 3;
}
.slideshow-image:nth-child(2) {
    background-image: url('../img/slide2.jpg');
    animation-name: kenburns-2;
    z-index: 2;
}
.slideshow-image:nth-child(3) {
    background-image: url('../img/slide3.jpg');
    animation-name: kenburns-3;
    z-index: 1;
}
.slideshow-image:nth-child(4) {
    background-image: url('../img/slide4.jpg');
    animation-name: kenburns-4;
    z-index: 0;
}
@keyframes kenburns-1 {
    0% {
        opacity: 1;
        transform: scale(1.2);
    }
    1.5625% {
        opacity: 1;
    }
    23.4375% {
        opacity: 1;
    }
    26.5625% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
    98.4375% {
        opacity: 0;
        transform: scale(1.21176);
    }
    100% {
        opacity: 1;
    }
}
@keyframes kenburns-2 {
    23.4375% {
        opacity: 1;
        transform: scale(1.2);
    }
    26.5625% {
        opacity: 1;
    }
    48.4375% {
        opacity: 1;
    }
    51.5625% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}
@keyframes kenburns-3 {
    48.4375% {
        opacity: 1;
        transform: scale(1.2);
    }
    51.5625% {
        opacity: 1;
    }
    73.4375% {
        opacity: 1;
    }
    76.5625% {
        opacity: 0;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}
@keyframes kenburns-4 {
    73.4375% {
        opacity: 1;
        transform: scale(1.2);
    }
    76.5625% {
        opacity: 1;
    }
    98.4375% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}
/* =========================== Index page ============================ */
/* ===========================
--- Intro
============================ */

#intro {
    background-image: url(../img/bg_intro.png);
    background-repeat: no-repeat;
    background-position: left;
}
/* ===========================
--- Services
============================ */

.serviceBox {
    text-align: center;
    padding: 30px;
    overflow: hidden;
    border: 3px solid #f7f6f6;
    transition: all .2s ease-in-out;
    position: relative;
}
.serviceBox .service-content {
    padding: 40px 30px 60px;
    position: relative;
    transition: all 0.3s ease-in-out 0s;
}
.serviceBox .title {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 15px;
}
.serviceBox .icon-bg {
    font-size: 120px;
    line-height: 120px;
    opacity: 0.6;
    position: absolute;
    bottom: 20px;
    right: -30px;
    transition: all 0.3s ease-in-out 0s;
}
.serviceBox:hover .icon-bg {
    transform: scale(1.2);
}
/* ===========================
--- Call to Action
============================ */

#call-to-action {
    background: url(../img/bg_calltoaction.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* ===========================
--- Testimonials
============================ */

#testimonials {
    background-image: url(../img/bg_testimonials.png);
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.testimonial {
    padding: 20px 15px 50px;
}
.testimonial .description {
    background: #fff;
    color: #333333;
    font-size: 14px;
    padding: 45px 35px;
    position: relative;
}
.testimonial .description:before {
    content: "\f10d";
    font-family: 'FontAwesome';
    position: absolute;
    top: -27px;
    font-size: 40px;
}
.testimonial-review {
    padding-top: 32px;
}
.testimonial-review img {
    float: left;
    max-width: 100px;
    margin-left: 25px;
    margin-right: 20px;
}
.testimonial-review .testimonial-title {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
    float: left;
}
.testimonial-title small {
    display: block;
    color: #999;
    font-size: 12px;
    margin-top: 3px;
}
/* ===========================
--- Latest Blog Posts
============================ */

.blog-prev {
    transition: all 0.5s ease-in-out 0s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    color: #ffffff;
    overflow: hidden;
    position: relative;
    text-align: left;
}
.blog-prev img {
    max-width: 100%;
    vertical-align: top;
    position: relative;
    transition: all 0.5s ease-in-out 0s;
}
.blog-prev .blog-caption {
    padding: 25px 20px 25px;
    transition: all 0.5s ease-in-out 0s;
    background: rgba(0, 0, 0, 0.64);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
}
.blog-prev .date {
    color: #fff;
    font-size: 26px;
    font-weight: 800;
    min-height: 70px;
    transition: all 0.5s ease-in-out 0s;
    min-width: 70px;
    padding: 10px 0;
    position: absolute;
    right: 15px;
    text-align: center;
    text-transform: uppercase;
    top: 0;
}
.blog-prev .date span {
    display: block;
    line-height: 24px;
}
.blog-prev .date .month {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
}
.blog-prev h4,
.blog-prev p {
    margin: 5px;
    color: #fff;
    padding: 0;
}
.blog-prev .hover {
    position: absolute;
    top: 0;
    transition: all 0.5s ease-in-out 0s;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    display: flex;
    font-size: 65px;
    justify-content: center;
    opacity: 0;
}
.blog-prev a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    z-index: 1;
}
.blog-prev:hover .hover {
    transition-delay: 0.1s;
    opacity: 0.6;
}
.blog-prev:hover .date {
    transform: translateY(-100%);
}
.blog-prev:hover .blog-caption {
    transform: translateY(100%);
}
/* ===========================
--- Offers
============================ */

#offers {
    background: url(../img/offer_bg1.jpg), url(../img/offer_bg2.jpg);
    background-position: bottom left, bottom right;
    background-repeat: no-repeat;
}
/* =========================== About Us page ============================ */
/* ===========================
--- Featured icons
============================ */

.features {
    padding: 20px!important;
    text-align: center;
}
.features i {
    font-size: 80px;
    transition: all 0.3s ease-in-out 0s;
    padding: 0px 15px;
}
/* =========================== Services single page ============================ */

#owl-services-single img:hover {
    opacity: 0.7;
}
/* =========================== our Team page ============================ */

#team .team-header {
    margin-bottom: 70px;
    text-align: center;
}
/* team layout1 */

.our-team1 {
    padding: 0 20px;
    text-align: center;
    position: relative;
}
.our-team1 .pic {
    transition: all 0.7s ease 0s;
    margin: 0 auto 25px;
    overflow: hidden;
    width: 200px;
}
.our-team1 .social {
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    top: 10%;
    left: 10%;
    opacity: 0;
    transform: translateX(-100px);
    transition: all 0.7s ease 0s;
}
.our-team1:hover .social {
    opacity: 1;
    transform: translateX(0px);
}
.our-team1 .social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    transform: scale(0);
    margin: 5px;
    transition: all 0.7s ease 0s;
}
.our-team1 .social li a i {
    color: #fff;
}
.our-team1:hover .social li a {
    transform: scale(1);
}
.our-team1 .title {
    font-size: 22px;
    letter-spacing: 2px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}
.our-team1 .post {
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 700;
}
/* team layout2 */

.our-team2 {
    text-align: center;
    position: relative;
}
.our-team2 img {
    width: 100%;
    height: auto;
}
.our-team2 .team-content {
    width: 100%;
    height: auto;
    padding: 27px 0;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: all 0.5s ease 0s;
}
.our-team2 .title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin: 0;
    transition: all 0.5s ease 0s;
}
.our-team2:hover .title {
    color: #fff;
    margin-bottom: 10px;
}
.our-team2 .post {
    display: block;
    font-size: 15px;
    text-transform: capitalize;
    height: 0;
    color: #fff;
    opacity: 0;
    transform: scale(0);
    transition: all 0.5s ease 0s;
}
.our-team2:hover .post {
    height: 40px;
    opacity: 1;
    transform: scale(1);
}
.our-team2 .social {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transform: translateY(-60%);
    transition: all 0.5s ease 0s;
}
.our-team2:hover .social {
    transform: translateY(50%);
    opacity: 1;
}
.our-team2 .social li {
    display: inline-block;
}
.our-team2 .social li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 17px;
    font-weight: 700;
    line-height: 40px;
    transition: all 0.5s ease 0s;
}
.our-team2 .social li a i {
    color: #fff!important;
}
/* team layout3 */

.our-team3 {
    transition: all 0.5s ease 0s;
    text-align: center;
    padding: 15px;
}
.our-team3 .pic img {
    width: 100%;
    height: auto;
}
.our-team3 .social {
    padding: 11px 0;
    margin-bottom: 0;
    list-style: none;
    text-align: center;
}
.our-team3 .social i {
    color: #cecece;
}
.our-team3 .social > li {
    display: inline-block;
}
.our-team3 .social > li > a {
    color: #fff;
    width: 30px;
    height: 30px;
    display: block;
    line-height: 30px;
    border-radius: 50%;
    transition: 0.3s ease;
}
.our-team3 .social > li > a:hover {
    background: #fff;
}
.our-team3 .team-content .post-title {
    margin-top: 20px;
    margin-bottom: 20px;
}
.our-team3 .team-content .post-title > a {
    font-size: 24px;
    font-weight: 600;
}
.our-team3 .team-content .post-title > a:hover {
    text-decoration: none;
}
.our-team3 .team-content .post {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    display: block;
    padding: 12px 0;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}
.our-team3 .team-content .description {
    margin-bottom: 15px;
}
/* =========================== Prices page ============================ */

#prices .section-heading {
    margin-bottom: 0px!important;
}
#prices h3 {
    text-align: center;
    padding: 20px;
}
#prices .tab-pane {
    text-align: center;
}
/* Menu styling */

.menu-body {
    margin: 0 auto;
    padding: 20px;
    display: block;
}
.menu-item {
    margin: 45px 0px;
    font-size: 20px;
}
/* menu Name */

.menu-item-name {
    text-align: left;
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px dotted rgb(213, 213, 213);
    font-family: 'Open Sans', sans-serif;
}
/* menu Description */

.menu-item-description {
    font-size: .8em;
    line-height: 1.5em;
    margin-top: 10px;
    text-align: left;
}
/* menu Price */

.menu-item-price {
    float: right;
    color: #333;
    background: #fff!important;
    margin-top: -32px;
    font-size: 25px;
    font-family: 'Lora', sans-serif;
}
/* fade tab transition */

.fade {
    opacity: 0;
    transition: opacity 0.55s linear;
}
/* =========================== Gallery pages ============================ */

.gallery-thumb {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.scrollimation .gallery-thumb {
    transform: translateY(100px);
    opacity: 0;
    transition: opacity .4s ease-out, transform .4s ease-out;
}
.touch .scrollimation .gallery-thumb,
.scrollimation .gallery-thumb.in {
    transform: translateY(0px);
    opacity: 1;
}
.gallery-thumb .overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    background: #000;
    transition: opacity .3s ease-out;
}
.gallery-thumb:hover .overlay-mask {
    opacity: 0.5;
}
.gallery-thumb .link {
    display: inline-block;
    margin: 0;
    font-size: 50px;
    line-height: 50px;
    opacity: 0;
    position: absolute;
    height: 50px;
    width: 64px;
    top: 45%;
    left: 50%;
    text-align: center;
    z-index: 3;
    margin-left: 20px;
    transform: translateX(200px);
    transition: all .3s ease-out;
}
.gallery-thumb:hover .link {
    transform: translate(0);
    opacity: 1;
    transition: all .3s ease-out .3s;
}
.gallery-thumb .link.centered {
    margin-left: -32px;
    transform: translateY(-200px);
    transition-delay: 0s;
}
.gallery-thumb i {
    color: #fff;
    transition: all 0.2s ease-in-out;
}
.gallery-thumb i:hover {
    color: #808080;
}
.gallery-thumb:hover .link.centered {
    transform: translateY(0);
    transition-delay: 0.1s;
}
/* no padding in gallery2 */

.gallery2 [class*=' col-'] {
    padding: 0px;
}
.gallery2 .gallery-thumb {
    margin: 0px;
}
/* Isotope */

.isotope-item {
    z-index: 2
}
.isotope-hidden.isotope-item {
    z-index: 1
}
.isotope,
.isotope .isotope-item {
    transition-duration: 0.8s;
}
.isotope-item {
    margin-right: -1px;
    backface-visibility: hidden;
}
.isotope {
    transition-property: height, width;
}
.isotope .isotope-item {
    transition-property: transform, opacity;
}
/* =========================== Contact Page ============================ */
/* Map */

#map-canvas {
    max-width: 100%;
    margin-top: 90px;
    min-height: 250px;
}
/* datetime picker */

.bootstrap-datetimepicker-widget table td.day {
    border-radius: 0px;
}
.bootstrap-datetimepicker-widget .picker-switch td span {
    line-height: 3.5;
    height: 3.5em;
    font-size: 20px;
    margin-bottom: 10px;
    border-bottom: 5px solid;
    border-radius: 0px;
}
.bootstrap-datetimepicker-widget table td span {
    width: 34px;
    height: 24px;
    color: #8a8989;
    line-height: 22px;
    border-radius: 0px;
    transition: all 0.2s ease-in-out;
}
.bootstrap-datetimepicker-widget .btn {
    color: #8a8989!important;
}
.bootstrap-datetimepicker-widget .picker-switch td,
.bootstrap-datetimepicker-widget .picker-switch td:hover,
.bootstrap-datetimepicker-widget .btn,
.bootstrap-datetimepicker-widget .btn:focus,
.bootstrap-datetimepicker-widget .btn:hover {
    background-color: transparent;
}
.bootstrap-datetimepicker-widget.dropdown-menu {
    background: #fff;
    border-radius: 0px;
    border: 2px solid #cecece;
}
.datepicker,
.datepicker.btn {
    top: 0;
    background: transparent;
    left: 0;
    padding: 4px;
    border-radius: 0px!important;
}
.datepicker table tr td.today {
    background-color: #cecece;
}
/* =========================== Blog Pages ============================ */

#blog-container {
    padding: 0px;
}
/* date & category badge */

.date-category {
    position: absolute;
    z-index: 10;
    color: #fff;
    padding: 20px;
    width: 150px;
    border-radius: 0px;
}
.date-category p {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    margin: 10px 0px 0px 0px;
}
.date-category i {
    color: #fff;
}
/* Latest posts Widget */

.blog-latest {
    padding: 10px;
    border-bottom: 1px dotted #cecece;
}
.blog-latest:last-child {
    border-bottom: 0;
}
.blog-latest p {
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    line-height: 18px;
}
.blog-latest span {
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-transform: none;
    line-height: 20px;
    margin-bottom: 15px;
    display: inline-block;
}
.blog-latest .col-xs-8 {
    padding: 0px;
}
/* Post info */

.post-info p {
    margin-right: 15px;
    display: inline-block;
    font-weight: 700;
    font-size: 11px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}
.post-info p + p {
    line-height: 0px !important;
}
.post-info i {
    margin-right: 5px;
}
/* blog post */

.blog-post {
    border-bottom: 1px solid;
    padding: 60px 0;
    margin: 0 30px;
}
.blog-post:first-child {
    padding-top: 0;
}
.blog-post:last-child {
    border-bottom: 0px;
}
.blog-post h3 {
    margin-bottom: 10px;
    margin-top: 20px;
    transition: all 0.2s ease-in-out;
}
.blog-post h3 a {
    color: #5b5a5a;
}
.blog-post .post-info i {
    margin-right: 5px;
    color: #8a8989;
}
.single-page .blog-post h3 {
    margin-top: 0px;
}
.post-main {
    padding: 0 0 40px 0;
}
.post-main img {
    margin-bottom: 20px;
}
/* Blog main- images */

.img-blog {
    overflow: hidden;
}
.img-blog:hover,
.img-blog img {
    transition: all 0.9s;
}
.img-blog:hover img {
    transform: scale3d(1.2, 1.2, 1);
}
/* Blog tags */

.blog-tags a {
    font-weight: 700;
    color: #fff;
    font-size: 12px;
    font-family: Open Sans;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 10px 0 20px;
    position: relative;
    letter-spacing: 0.5px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.blog-tags a:hover,
.blog-tags a:focus {
    color: #fff;
}
.blog-tags a::before {
    background: #fff;
    border-radius: 5px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
}
.post-info .blog-tags {
    margin-top: 20px;
}
/* Comments */

.comments-block {
    margin: 60px 0px 60px 0px;
}
.comment.media-body {
    margin-right: 10px;
}
.comments-block .btn {
    padding: 10px;
}
.comments-block .media-object {
    max-width: 120px;
    float: left;
    margin-right: 20px;
    border: 2px solid;
    transition: all 0.5s ease-in-out;
}
.comment {
    border-bottom: 1px dotted;
    margin: 20px auto 20px;
    padding: 30px;
    position: relative;
}
.comment:last-child {
    border-bottom: 0;
}
.nested {
    background: #f3f3f3;
    display: inline-block;
}
/* =========================== Footer and Credits ============================ */
/* footer */

footer {
    position: relative;
    padding: 45px 0px;
}
footer.no-margin {
    margin-top: 0px;
}
footer li {
    border-bottom: 1px solid #cecece;
    line-height: 35px!important;
}
footer .footer-icons i {
    font-size: 12px;
    color: #8a8989;
    margin-right: 15px;
}
.credits {
    padding-top: 20px;
    font-size: 12px;
}
/* Go to top icon */

.back-to-top {
    display: none;
    transition: all 0.3s ease-in-out;
    position: fixed;
    bottom: 58px;
    height: 40px;
    width: 40px;
    right: 22px;
    box-shadow: 2px 1px 20px rgba(0, 0, 0, 0.29);
    z-index: 9999;
}
.back-to-top i {
    font-size: 32px;
    color: #fff!important;
    line-height: 38px;
    text-align: center;
}
.back-to-top:hover i {
    transform: scale(1.2);
}
/* =========================== Miscellaneous  ============================ */
/* Owl-carousel */

.owl-carousel {
    padding: 10px;
    transition: all .3s ease-in-out;
}
.owl-carousel .owl-item {
    perspective: 1000px;
}
.owl-prev:hover {
    opacity: 1 !important;
}
.owl-next:hover {
    opacity: 1 !important;
}
.owl-carousel:hover .owl-prev {
    opacity: 1 !important;
}
.owl-carousel:hover .owl-next {
    opacity: 1 !important;
}
.owl-prev,
.owl-next {
    opacity: 0;
    position: absolute;
    top: 50%;
    z-index: 99;
    transition: all .3s ease-in-out;
    width: 40px;
    outline: 1px solid #fff;
    outline-offset: -2px;
    height: 40px;
    margin-top: -50px;
    text-align: center;
}
.owl-prev i,
.owl-next i {
    color: #fff;
    transition: all .3s ease-in-out;
    line-height: 40px;
}
.owl-next {
    right: 5px;
}
.owl-prev {
    left: 5px;
}
.owl-carousel.owl-loaded {
    display: block;
    clear: both;
    /* Important fix */
}
.owl-dots {
    text-align: center;
    margin-top: 20px;
}
.owl-theme .owl-dots .owl-dot {
    display: inline-block;
}
.owl-theme .owl-dots .owl-dot span {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 0.5rem;
    height: 0.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
    color: #333;
}
.owl-theme .owl-dots .owl-dot span:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0.9rem;
    height: 0.9rem;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
}
.owl-theme .owl-dots .owl-dot span:hover:before {
    transform: translate(-50%, -50%) scale(1);
}
.owl-theme .owl-dots .owl-dot.active span:before {
    transform: translate(-50%, -50%) scale(1);
}
/* Sections */

section {
    padding: 80px 0px;
}
.small-section {
    position: relative;
    padding: 70px 0px;
}
/* main wrapper */

#main {
    position: relative;
    background: #fff;
}
#main section {
    padding-top: 0px;
}
#main.home section {
    padding-top: 70px;
}
/* Sections heading */

.section-heading {
    margin-bottom: 50px;
    text-align: center;
    position: relative;
}
.section-heading h2 {
    text-align: center;
    margin-bottom: 20px;
}
.section-heading .hr {
    border-top: 1px dotted;
    text-align: center;
    max-width: 100px;
    margin-top: 30px;
    margin: 0 auto;
}
.section-heading .hr:after {
    content: "\f127";
    font-family: Flaticon;
    display: inline-block;
    position: relative;
    top: -20px;
    padding: 0 10px;
    font-size: 38px;
}
/* Custom Link */

.custom-link {
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.3px;
    border-bottom: 2px solid #cecece;
    padding-bottom: 5px;
    margin-top: 20px;
}
/* Page blocks */

.page-block {
    margin-top: 70px;
}
/* no padding */

.no-padding {
    padding: 0px;
}
.no-padding-bottom {
    padding-bottom: 0px;
}
/* elements page */

#elements .row {
    margin-right: 0px;
    margin-left: 0px;
}
#elements h5.sub-header {
    padding: 10px;
    text-align: center;
    border-radius: 0px;
}
#elements h3.sub-header {
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    color: #fff;
}
#elements .bg-colorprev .col-md-3 {
    padding: 20px;
}
.glyph {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    padding: 20px;
    width: 24%;
}
.glyph i {
    padding: 10px;
    display: block;
    margin-top: 20px;
    font-size: 52px;
    color: #2F2F2F;
    margin-left: 0;
}
.page-header {
    border-bottom: 2px solid #eee !important;
    margin-bottom: 50px;
}
.page-header h2 {
    display: inline-table;
}
/* Img Styles */

.img-inline {
    outline: 2px solid #fff;
    outline-offset: -5px;
}
.img-opacity:hover {
    opacity: 0.7;
}
.img-rounded {
    border-radius: 40px;
}
/* Image Zoom Hover effect */

.img-effect {
    overflow: hidden;
}
.img-effect img {
    transition: opacity 0.7s, transform 2.5s;
}
.img-effect:hover img {
    transform: scale3d(1.2, 1.2, 1);
}
/* Image opacity hover */

.img-hover img {
    transition: opacity 0.2s;
    opacity: 1;
}
.img-hover:hover img {
    opacity: 0.8;
}
/* Image border */

.img-border {
    border: 4px double
}
/* Dropdown */

.dropdown-menu {
    min-width: 180px;
    margin-top: -1px!important;
    border-radius: 0px;
}
.dropdown-menu>li>a {
    display: block;
    padding: 13px 10px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    border-radius: 0px;
    transition: all .2s ease-in-out;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #fff;
    transition: all .2s ease-in-out;
}
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    background-color: transparent;
    color: #333!important;
}
/* Pagination */

.pagination>li {
    display: inline-block;
}
.pagination>li>a,
.pagination>li>span {
    margin: 0 1px;
    border: 0;
    padding: 5px 12px;
    color: #fff;
    border-radius: 0%;
    transition: all .2s ease-in-out;
}
.pagination>li>a:hover,
.pagination>li>a:focus {
    color: #fff;
}
.pagination>li:last-child>a,
.pagination>li:last-child>span,
.pagination>li:first-child>a,
.pagination>li:first-child>span {
    border-radius: 0%;
}
/* Alerts */

.alert {
    padding: 25px;
    font-size: 16px;
    border: 0;
    letter-spacing: 0.5px;
    font-weight: 700;
    margin: 20px 0px;
}
.alert.alert-success {
    color: #fff;
}
/* Breadcrumbs */

.breadcrumb {
    padding: 8px 25px;
    list-style: none;
    margin-bottom: 0px;
    letter-spacing: 0.6px;
    text-align: left;
    font-size: 12px;
    display: inline-block;
    font-weight: 700;
    font-family: Open Sans;
    text-transform: uppercase;
    background: transparent;
    border-radius: 0px;
}
ul.breadcrumb {
    line-height: 18px!important;
    text-align: center;
}
.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb>.active {
    color: #b4b1b1;
}
.breadcrumb>li+li:before {
    padding: 0 10px;
    content: "»";
    font-size: 16px;
}
/* Labels */

.label {
    padding: .2em .6em .3em;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.8;
    color: #fff;
    border-radius: 0px;
}
/* Form Labels */

label {
    margin-top: 10px;
    display: block;
    max-width: 100%;
    font-size: 18px;
    margin-bottom: 5px;
}
/* Progress bar */

.progress-bar {
    height: 10px;
    box-shadow: 6px 6px 0px rgba(103, 102, 102, 0.2);
}
.progress {
    box-shadow: none;
}
/* fade tab transition */

.fade {
    opacity: 0;
    transition: opacity 0.55s linear;
}
/* Page  */

.pages {
    padding: 0px 0px 90px;
}
.image-page {
    margin: 20px 0;
}
/* Pager */

.pager li > a,
.pager li > span {
    display: inline-block;
    padding: 10px 24px;
    font-size: 18px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0px;
    transition: all .2s ease-in-out;
}
.pager li > a:hover {
    color: #fff;
}
/* Nav-tabs */

.nav-tabs {
    text-align: center;
    border-bottom: 0;
}
.nav.nav-tabs li {
    margin: 0px 10px;
    position: relative;
    float: none;
    display: inline-block;
}
.nav.nav-tabs li.active:before {
    content: "";
    position: absolute;
    bottom: -28px;
    left: 40%;
    border: 14px solid transparent;
}
.nav.nav-tabs li.active:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 53px;
    border: 10px solid transparent;
}
.nav.nav-tabs li a {
    font-family: 'Lora', sans-serif;
    border-bottom: 2px solid;
    font-weight: 700;
    padding: 13px 35px;
    font-size: 24px;
    background: transparent;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.nav.nav-tabs > li:focus > a,
.nav.nav-tabs > li.active > a,
.nav.nav-tabs > li.active > a:hover,
.nav.nav-tabs > li.active > a:focus {
    border-bottom: 2px solid;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}
/* Panels */

.panel {
    border: none;
    background: none;
    border-radius: 0;
    box-shadow: none;
}
.panel-heading {
    padding: 0;
}
.panel-title a {
    display: block;
    font-size: 18px;
    font-style: normal;
    color: #fff!important;
    padding: 17px 40px 17px 65px;
    background: #fff;
    border: 1px solid #f3f3f3;
    border-bottom: none;
    position: relative;
    transition: all 0.5s ease 0s;
}
.panel-title a.collapsed {
    background: #fafafa;
    color: #ffff;
}
.panel-title a.collapsed:hover {
    color: #fff;
}
.panel-title a:after,
.panel-title a.collapsed:after {
    content: "\f068";
    font-family: FontAwesome;
    font-size: 15px;
    color: #fff!important;
    width: 45px;
    height: 100%;
    line-height: 54px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: -1px;
    transition: all .2s;
}
.panel-title a.collapsed:after {
    content: "\f067";
    color: #fff;
    transition: all 0.5s ease 0s;
}
.panel-title a.collapsed:hover:after {
    color: #fff;
}
.panel-title a:before {
    content: "";
    position: absolute;
    bottom: -11px;
    left: -1px;
    border-bottom: 12px solid transparent;
}
.panel-title a.collapsed:before {
    display: none;
}
.panel-body {
    padding: 20px 65px;
    margin-left: 12px;
    background: #fff;
    border: 1px solid #f3f3f3;
    border-top: none;
}
/* White bg */

.bg-white {
    background-color: #fff;
}
/* Lists */

ul.no-margin {
    padding: 0;
}
.list-unstyled li {
    line-height: 40px;
}
ul.custom {
    list-style: none;
}
ul.custom li {
    font-weight: 700;
}
ul.custom li:before {
    content: "\f054";
    font-size: 12px;
    font-family: "FontAwesome";
    padding-right: 7px;
}
/* Buttons */

.btn,
.btn .btn-primary {
    display: inline-block;
    background: transparent;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    font-family: Open Sans;
    Font-weight: 700;
    letter-spacing: 1px;
    padding: 18px 80px 20px;
    transition: all 0.7s ease-out;
    text-decoration: none;
    margin-top: 1.925rem;
    border: 1px solid #fff!important;
}
.btn:hover {
    color: #fff;
    border: 1px solid #fff;
    background-position: 99% 50%;
}
.btn .fa,
.btn.focus,
.btn:focus {
    color: #fff!important;
}
/* Forms */

.form-control {
    transition: all 0.7s ease-out;
    display: block;
    width: 100%;
    background: #f3f3f3;
    height: 52px;
    border: 0;
    font-size: 16px;
    outline: none;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 2px solid transparent;
    margin-bottom: 15px;
}
select.form-control {
    border: 4px solid;
    margin-top: 20px;
    font-weight: 700;
    font-size: 20px;
}
.form-horizontal .control-label {
    text-align: left!important;
}
.input-group-btn:last-child>.btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group-btn .btn {
    font-size: 14px;
    padding: 15px 30px;
    margin-top: 0px;
}
.input-group-btn span,
.input-group-addon span,
.btn span {
    color: #fff;
}
.form-control.form-control.input-lg {
    margin-top: 0px;
}
.form-group {
    margin-bottom: 0px;
}
.form-control:focus,
textarea.form-control:focus,
.textarea-field:focus,
.input-field:focus {
    outline: none;
    box-shadow: none;
}
textarea {
    height: 150px;
    resize: none;
}
/* BIG Social Media Icons */

.social-media {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.social-media a {
    display: inline-block;
    font-size: 30px;
    margin: 5px;
}
.social-media a i:hover {
    transform: scale(1.2);
    background-color: #fff;
}
.social-media a i {
    color: #fff;
    font-weight: normal;
    transition: all .3s ease-in-out;
    margin: 3px;
}
.social-media i {
    transition: all .3s ease-in-out;
}
/* Small Social Media Icons */

.smaller.social-media a i {
    font-size: 22px;
    margin: 20px;
    transition: .3s;
    margin: 0px;
    border: 0px;
    background: none;
    padding: 0;
    color: #fff;
    width: 30px;
}
.smaller.social-media a i:hover {
    background: none;
}
.smaller.social-media {
    margin-top: 10px;
}
/* Centered columns */

.col-centered {
    float: none;
    margin: 0 auto;
}
/* Blockquote */

blockquote {
    font-size: 18px;
    background: #f3f3f3;
    outline: 2px solid #fff;
    outline-offset: -10px;
    padding: 30px;
    line-height: 28px;
    border-left: none;
    text-align: center;
}
blockquote:before {
    content: "\f10d";
    margin-right: 20px;
    font-family: 'FontAwesome';
    font-size: 40px;
}
/* Icon-sizes */

.big-icon i {
    font-size: 220px;
}
/* Nav-pills */

.nav-pills {
    display: inline-block;
}
.nav-pills>li>a {
    transition: all .2s ease-in-out;
    border-radius: 0px;
    font-size: 16px;
    margin: 5px;
    text-transform: uppercase;
    padding: 10px 25px;
    font-weight: 700;
    letter-spacing: .15em;
    font-family: 'Open Sans', sans-serif;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus,
.nav-pills>li>a:hover,
.nav-pills>li>a,
.nav-pills .nav > li > a:hover {
    color: #fff;
}
/* Remove padding in container fluid */

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
/* Tab content */

.tab-content {
    margin-top: 90px;
    padding: 30px 0px;
}
/* Tables */

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid;
}
.table > tbody > tr:first-child > td {
    border: none;
}
/* Wells */

.well {
    background: #fff;
    border-radius: 0px;
    padding: 60px 40px;
    border: 0;
    box-shadow: none;
}
.well .list-unstyled {
    padding-left: 15px;
    font-size: 16px;
    list-style: none;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
/* Media */

.media-heading small {
    font-weight: 800;
    display: block;
    font-size: 13px;
    margin: 10px 0 20px;
    line-height: 20px;
    letter-spacing: 0.6px
}
/* Margins */

.margin1 {
    margin-top: 50px;
}
/* Jumbo heading */

.jumbo-heading {
    color: #333;
    padding: 60px 0;
    text-align: center;
    margin-bottom: 90px;
}
.jumbo-heading h1 {
    padding-top: 0px;
    position: relative;
    width: 60%;
    margin: 10px auto;
}
/* Sidebar */

.sidebar {
    padding: 20px;
    border-left: 1px solid #cecece;
}
.sidebar .well {
    padding: 10px;
    border: 0px;
}
.sidebar-header h5 {
    color: #333!important;
    margin-bottom: 20px;
}
.sidebar-header {
    border-bottom: 2px solid #cecece;
    padding-bottom: 20px;
    margin-top: 0px;
}
.sidebar .list-unstyled {
    font-size: 18px;
    line-height: 24px;
}
/* Mailchimp message */

#mce-error-response,
#mce-success-response {
    display: none;
    font-size: 14px;
}
/* divider */

hr {
    border-top: 1px solid #cecece;
}
/* small divider */

.hr {
    border-top: 3px solid;
    text-align: center;
    max-width: 50px;
    margin: 0 auto;
    margin-bottom: 20px;
}
/* List group */

.list-group-item {
    position: relative;
    display: block;
    border-radius: 0px;
    padding: 10px 15px;
    margin-bottom: -1px;
    transition: all 0.6s;
}
a.list-group-item,
button.list-group-item {
    color: #fff;
    font-family: Lora;
    font-size: 16px;
    letter-spacing: 0.5px;
}
.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
a.list-group-item,
button.list-group-item {
    color: #fff;
}
a.list-group-item:focus,
a.list-group-item:hover,
button.list-group-item:focus,
button.list-group-item:hover {
    color: #fff;
    text-decoration: none;
}
/*===========================
  Media Queries
============================ */
/************ max width 1200px *************/

@media (max-width: 1200px) {
    .form-margin {
        margin-top: 15px;
    }
    .our-team1,
    .our-team2,
    .our-team3 {
        margin-bottom: 30px;
    }
}
/************ max width 991px *************/

@media (max-width: 991px) {
    /* Headers */
    
    h1 {
        font-size: 46px !important;
        line-height: 52px;
    }
    h2 {
        font-size: 44px !important;
    }
    h3 {
        font-size: 38px;
    }
    h4 {
        font-size: 28px;
    }
    h5 {
        font-size: 20px;
    }
    h6 {
        font-size: 18px;
    }
    /* Responsive margin*/
    
    .res-margin,
    .margin1 {
        margin-top: 30px;
    }
    /*navbar */
    
    .nav>li {
        text-align: center;
        font-size: 20px;
		line-height: 60px;
    }
    /* navbar collapse at 991px */
    .navbar-custom li:after {
        display: none;
    }
    .navbar-header {
        float: none;
        margin-top: -2px;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-collapse {
        max-height: 400px !important;
    }
    .navbar-collapse.collapse.in {
        display: block!important;
        padding-bottom: 40px;
        max-height: 400px;
        overflow-y: scroll!important;
        overflow-x: hidden!important;
    }
    .navbar-collapse::-webkit-scrollbar {
        width: 20px;
    }
    .navbar-collapse::-webkit-scrollbar-track {
        background-color: lightgray;
    }
    .navbar-collapse::-webkit-scrollbar-thumb {
        background-color: darkgray;
    }
    .navbar-nav {
        margin: 0;
        float: none !important;
    }
    .navbar-right {
        line-height: 0px;
    }
    .navbar-nav li {
        float: none;
    }
    .navbar-nav li > .dropdown-menu {
        border: 0;
        float: none;
        width: auto;
        position: static;
        box-shadow: none;
        background: inherit;
    }
    .navbar-brand img {
        position: relative;
    }
	/* dropdown on click */
	
	.dropdown-menu {
    display: none !important;
    }
	.open .dropdown-menu {
		display: block !important;
	}
    /* Space between sections */
    
    .section-heading {
        margin-bottom: 30px;
    }
    /* miscelaneous */
    
    .sidebar {
        border: 0px;
    }
    .back-to-top {
        display: none;
    }
    .img-paragraph {
        margin: 0px 0px 20px 0px;
    }
    .no-padding {
        padding: 20px;
    }
    #intro {
        text-align: center;
    }
    .blog-post {
        padding: 20px 0;
		margin-bottom:20px;
    }
    .menu-body {
        padding: 0px;
    }
    .nobg-small {
        background-image: none!important;
    }
    .jumbo-heading h1 {
        width: 100%;
    }
}
/************ max width 767px *************/

@media (max-width: 767px) {
    /* Header and slideshow */
    
    .slideshow,
    .masthead {
        height: 350px;
    }
    /* Miscelaneous */
    
    .navbar-nav .open .dropdown-menu>li>a {
        line-height: 50px;
    }
    .nav-tabs > li {
        margin-bottom: 30px!important;
    }
    .tab-content {
        margin-top: 0px;
    }
    .breadcrumb>li+li:before {
        padding: 0 4px;
    }
    h1 {
        font-size: 2.998em;
    }
    .nav-pills>li>a {
        font-size: 16px;
        margin: 5px;
        line-height: 18px;
        padding: 10px;
    }
    section {
        padding: 50px 0px;
    }
    #call-to-action {
        background-attachment: scroll;
    }
    .well {
        margin: 20px;
        padding: 20px;
    }
}
/************ max width 480px *************/

@media (max-width: 480px) {
    /* navbar */
    
    .navbar-collapse.collapse.in {
        max-height: 230px;
    }
    /* header and slideshow */
    
    .slideshow,
    .masthead {
        height: 220px;
    }
    /* Headers */
    
    h1 {
        font-size: 38px !important;
        line-height: 44px !important;
    }
    h2 {
        font-size: 30px !important;
    }
    h3 {
        font-size: 26px;
        line-height: 34px;
    }
    h4 {
        font-size: 24px;
    }
    h5 {
        font-size: 18px;
        text-transform: uppercase;
    }
    h6 {
        font-size: 18px;
    }
    /* Miscellaneous */
    
    .panel-title a:after,
    .panel-title a.collapsed:after {
        display: none;
    }
    .panel-title a {
        text-align: center;
        padding: 15px;
    }
    .panel-body {
        padding: 20px;
        margin-left: 0px;
    }
    .section-heading h2 {
        border: 0;
        line-height: 34px;
        letter-spacing: 0px;
        font-size: 26px;
    }
    .section-heading {
        margin-bottom: 2rem;
    }
    .jumbo-heading {
        margin-bottom: 30px;
    }
    .menu-item-price {
        margin-top: 10px;
    }
    .owl-prev,
    .owl-next {
        display: none!important;
    }
    .block {
        padding: 10px;
    }
    h1 span {
        font-size: 38px;
    }
    .testimonial-review img {
        margin-left: 0px;
    }
    .date-category i {
        display: none;
    }
    .date-category {
        position: absolute;
        color: #fff;
        min-width: 0px;
        padding: 20px;
    }
    .date-category p {
        margin: 0px;
        font-size: 14px;
        line-height: 18px;
    }
    .date-category {
        padding: 10px;
        width: 100px;
    }
    .navbar.navbar-custom.navbar-fixed-top {
        margin-bottom: 30px;
    }
    .breadcrumb {
        font-size: 11px;
    }
    .post-info p {
        line-height: 13px;
    }
    .comments-block {
        padding: 0px;
    }
    section {
        padding: 40px 0px;
    }
    .input-group-btn:last-child>.btn {
        border-radius: 0px;
        margin-top: 10px;
    }
    .input-group .form-control,
    .input-group-btn {
        display: inline-table;
    }
    .nav-pills> li.active:after,
    .nav-pills> li.active:before {
        top: -45%;
    }
    .nav-pills > li {
        float: none;
    }
    .owl-carousel {
        padding: 0px 0px;
    }
    .comment {
        padding: 10px;
        text-align: center;
    }
    .comments-block .media-object {
        float: none;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;
    }
    .comment.media-body {
        margin-right: 0px;
    }
    .tab-pane h3 {
        margin-top: 10px;
    }
    .btn {
        font-size: 13px;
        margin: 10px 0px;
        padding: 15px 20px;
    }
    .spinner {
        left: 42%;
    }
    .glyph {
        width: 100%;
    }
}
/************ max width 320px *************/

@media (max-width: 320px) {
    /* prices */
    
    .menu-item-price {
        float: none;
    }
    .menu-item-name,
    .menu-item-description {
        text-align: center;
    }
    /* header and slideshow */
    
    .slideshow,
    .masthead {
        height: 150px;
    }
    /* Nav-tabs */
    
    .nav.nav-tabs > li > a {
        min-height: 30px;
        font-size: 16px;
        padding: 15px 15px;
        line-height: 15px;
    }
    /* Miscellaneous */
    
    footer .table .text-left {
        font-weight: 900;
    }
    .label,
    .table {
        font-size: 14px;
    }
    .table table,
    .table thead,
    .table th,
    .table td,
    .table tr {
        display: block;
    }
}